@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto:wght@100;300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    padding: 0;
}

/* Navbar */


.navbar{
    display: flex;
    height: 60px;
    box-shadow: 0 2px 4px 0px rgb(1, 1, 1, 0.2);
    justify-content: space-between;
    font-family: Arial, sans-serif;
    align-items: center;
    padding: 30px;
}


.navbar > h1{
    border: bolder;
    font-size: 25px;
    margin: 10px;
    text-align: center;
}

.nav-menu{
    display: flex;
    margin: 30px;
    gap: 15px;
}

.nav-menu a:hover{
    color: red;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.4s ease;
}

.nav-menu > a{
    text-decoration: none;
    color: black;
    margin: 10px;
}


